* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

.container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
}


body {
    background: #081b29;
    color: #ededed;

}

header {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    background: transparent;
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    padding: 10;
    left: 0;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;

}


.navbar a:hover,
.navbar a.active {
    color: aqua;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding:  0 15%;
}

.img-background {
    width: 450px;
    height: 550px;
    background-image: url(./home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
    max-width: 1300;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;

}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px;
    background-color: solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
}


.btn-box a :nth-child(2) {
    background: transparent;
    color: #00abf0;
}


.btn-box a ::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: red;
    z-index: -1;
    transition: 5s;
}

.btn-box :hover ::before {
    width: 100%;
}

.lets:hover {
    color: black;
    background-color: red;
    /* Firefox */
    -moz-transition: all 1s ease-in;
    /* WebKit */
    -webkit-transition: all 1s ease-in;
    /* Opera */
    transition: all 1s ease-in;

    /* Standard */
    transition: all 1s ease-in;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
}